{% extends 'base.html' %}
{% block title %}Правила игры{% endblock %}
{% block content %}
<body>
<div class="container p-3 bg-dark text-white">
    <a href="{% url 'home' %}"><h3> Главная </h3></a>
</div>
<div class="container p-5 bg-secondary text-white">
    <h1>Правила игры</h1>
    <p>Приветствую тебя о Умнейший! Рад тебе предложить сыграть в интереснейшую игру со своими друзьями!</p>

    <h2>Краткое содержание:</h2>
    <h3>Суть игры!</h3>
    <p> В первый ход игры игрок пишет первое предложение ориентируясь только на название темы. В дальнейшем каждому
        игроку предстоит поочередно написать по одному предложению ориентируясь на название темы и рандомно выдаваемые
        слова из предложения предыдущего игрока. До окончания игры игроки не должны видеть, что написали предшествующие
        игроки. Игра продолжается пока не за кончатся круги либо пока не нажмут кнопку завершить.</p>
    <h2>Руководство пользователя!:</h2>
    <p>Рекомендуется играть от 2 (двух) игроков.</p>
    <ol>
        <li>Нажми на "Начать игру" и ты перейдешь к настройкам игры. (Данные настройки сохраняются пока ты о Великий
            не вернешься к начальной странице).</li>
        <li>На странице с настройками заполни предлагаемые поля, а именно:
            <ol>
                <li>Название истории (любой текст, ограниченный 150 символами).</li>
                <li>Количество кругов (по умолчанию 1).</li>
                <li>Из выпадающего списка выберите игрока и нажмите кнопку «Добавить к игре».</li>
                <li>После добавления всех играющих нажмите на «Начать игру».</li>
            </ol>
        </li>
        <li>После перехода на страницу с игрой Вам будет представлено поле, в котором поочередно нужно
            написать какой-то текст, согласно правилам игры, и нажать кнопку «Добавить»</li>
    </ol>
    <p>Игра будет продолжаться до тех пор, пока каждый игрок в свой ход не добавит предложение
        или не нажмет кнопку стоп!</p>
    <h2>Хорошей Вам игры и не превзойдённых творческих порывов!</h2>
    </div>
</body>
{% endblock %}